<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="group-form">
                <div class="select-list">
                    <ul>
                        <li>Activity Name：<input type="text" name="title"/></li>
                        <li>Status：
                            <select name="status">
                                <option value="">All</option>
                                <option value="0">Active</option>
                                <option value="1">Ended</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="mall:group:add">
                <i class="fa fa-plus"></i> Add
            </a>
            <a class="btn btn-info" th:href="@{/mall/group/orders}">
                <i class="fa fa-list-ul"></i> Group Orders Monitor
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag   = [[${@permission.hasPermi('mall:group:edit')}]];
    var removeFlag = [[${@permission.hasPermi('mall:group:remove')}]];
    var prefix = ctx + "mall/group";

    $(function() {
        $.table.init({
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "Group Buy Activity",
            columns: [
                {checkbox: true},
                {field: 'activityId',    title: 'ID'},
                {field: 'productName',   title: 'Product Name'},
                {field: 'title',         title: 'Activity Name'},
                {field: 'minGroupSize',  title: 'Min Group Size'},
                {field: 'durationHours', title: 'Duration (h)'},
                {field: 'startTime',     title: 'Start Time'},
                {field: 'endTime',       title: 'End Time'},
                {field: 'status', title: 'Status', align: 'center',
                    formatter: function(v) {
                        return v === '0'
                            ? '<span class="badge badge-primary">Active</span>'
                            : '<span class="badge badge-default">Ended</span>';
                    }
                },
                {title: 'Action', align: 'center', formatter: function(v, row) {
                    var a = [];
                    if (row.status === '0') {
                        a.push('<a class="btn btn-success btn-xs ' + editFlag + '" onclick="$.operate.edit(\'' + row.activityId + '\')"><i class="fa fa-edit"></i>Edit</a> ');
                        a.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" onclick="$.operate.remove(\'' + row.activityId + '\')"><i class="fa fa-remove"></i>End</a>');
                    }
                    return a.join('');
                }}
            ]
        });
    });
</script>
</body>
</html>
