<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="order-form">
                <div class="select-list">
                    <ul>
                        <li>
                            Status：
                            <select name="status">
                                <option value="">All</option>
                                <option value="0">In Progress</option>
                                <option value="1">Succeeded</option>
                                <option value="2">Failed</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm hidden-xs" style="margin-bottom:8px">
            <a class="btn btn-default" th:href="@{/mall/group}">
                <i class="fa fa-arrow-left"></i> Back to Activities
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "mall/group";

    var statusMap = {
        '0': '<span class="badge" style="background:#f0ad4e">In Progress</span>',
        '1': '<span class="badge badge-success">Succeeded</span>',
        '2': '<span class="badge badge-default">Failed</span>'
    };

    $(function() {
        $.table.init({
            url: prefix + "/orders/list",
            modalName: "Group Order",
            columns: [
                {checkbox: true},
                {field: 'inviteCode',    title: '邀请码'},
                {field: 'activityTitle', title: '活动名称'},
                {field: 'productName',   title: '商品'},
                {field: 'currentSize',   title: '当前人数', align: 'center',
                    formatter: function(v, row) {
                        return '<b>' + v + '</b> / ' + row.minGroupSize;
                    }
                },
                {field: 'currentPrice',  title: '当前价', align: 'right',
                    formatter: function(v) { return v ? v + ' 元' : '-'; }
                },
                {field: 'status',        title: '状态', align: 'center',
                    formatter: function(v) { return statusMap[v] || v; }
                },
                {field: 'expireTime',    title: '过期时间'},
                {field: 'createTime',    title: '创建时间'},
                {title: '操作', align: 'center',
                    formatter: function(v, row) {
                        return '<a class="btn btn-info btn-xs" href="' + prefix + '/orders/' + row.groupOrderId + '/members"><i class="fa fa-users"></i> View Members</a>';
                    }
                }
            ]
        });
    });
</script>
</body>
</html>
