<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="product-form">
                <div class="select-list">
                    <ul>
                        <li>商品名称：<input type="text" name="name"/></li>
                        <li>
                            状态：
                            <select name="status">
                                <option value="">全部</option>
                                <option value="0">上架</option>
                                <option value="1">下架</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="mall:product:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="mall:product:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="mall:product:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag   = [[${@permission.hasPermi('mall:product:edit')}]];
    var removeFlag = [[${@permission.hasPermi('mall:product:remove')}]];
    var prefix = ctx + "mall/product";

    $(function() {
        $.table.init({
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "商品",
            columns: [
                {checkbox: true},
                {field: 'productId', title: '商品ID'},
                {field: 'imageUrl',  title: '图片', formatter: function(v) {
                    return v ? '<img src="' + v + '" height="40" style="border-radius:4px">' : '-';
                }},
                {field: 'name',      title: '商品名称'},
                {field: 'price',     title: '售价(PHP)', formatter: function(v) { return '₱' + v; }},
                {field: 'stock',     title: '库存'},
                {field: 'status',    title: '状态', align: 'center',
                    formatter: function(v) {
                        return v === '0'
                            ? '<span class="badge badge-primary">上架</span>'
                            : '<span class="badge badge-default">下架</span>';
                    }
                },
                {field: 'createTime', title: '创建时间'},
                {title: '操作', align: 'center', formatter: function(v, row) {
                    var a = [];
                    a.push('<a class="btn btn-success btn-xs ' + editFlag + '" onclick="$.operate.edit(\'' + row.productId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    a.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" onclick="$.operate.remove(\'' + row.productId + '\')"><i class="fa fa-remove"></i>删除</a>');
                    return a.join('');
                }}
            ]
        });
    });
</script>
</body>
</html>
