<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="mall:banner:add">
                <i class="fa fa-plus"></i> Add
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="mall:banner:edit">
                <i class="fa fa-edit"></i> Edit
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="mall:banner:remove">
                <i class="fa fa-remove"></i> Delete
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag   = [[${@permission.hasPermi('mall:banner:edit')}]];
    var removeFlag = [[${@permission.hasPermi('mall:banner:remove')}]];
    var prefix = ctx + "mall/banner";

    $(function() {
        $.table.init({
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "Banner",
            columns: [
                {checkbox: true},
                {field: 'bannerId',   title: 'ID', width: 60},
                {field: 'imageUrl',   title: 'Image', formatter: function(v) {
                    return v ? '<img src="' + v + '" height="48" style="border-radius:4px;object-fit:cover;">' : '-';
                }},
                {field: 'linkType',   title: 'Link Type', width: 100, formatter: function(v) {
                    var map = {NONE:'None', PRODUCT:'Product', GROUP:'Group Buy', URL:'URL'};
                    return map[v] || v;
                }},
                {field: 'linkValue',  title: 'Link Value'},
                {field: 'sort',       title: 'Sort', width: 70},
                {field: 'status',     title: 'Status', width: 80, formatter: function(v) {
                    return v === '0'
                        ? '<span class="badge badge-primary">Enabled</span>'
                        : '<span class="badge badge-default">Disabled</span>';
                }},
                {field: 'createTime', title: 'Created At'},
                {title: 'Action', align: 'center', formatter: function(v, row) {
                    var a = [];
                    if (editFlag) a.push('<a class="btn btn-success btn-xs" onclick="$.operate.edit(\'' + row.bannerId + '\')"><i class="fa fa-edit"></i>Edit</a> ');
                    if (removeFlag) a.push('<a class="btn btn-danger btn-xs" onclick="$.operate.remove(\'' + row.bannerId + '\')"><i class="fa fa-remove"></i>Delete</a>');
                    return a.join('');
                }}
            ]
        });
    });
</script>
</body>
</html>
