<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="comment-form">
                <div class="select-list">
                    <ul>
                        <li>Content: <input type="text" name="content"/></li>
                        <li>
                            Status:
                            <select name="delFlag">
                                <option value="">All</option>
                                <option value="0">Active</option>
                                <option value="1">Deleted</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i> Search</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i> Reset</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "mall/market/comment";

    $(function() {
        $.table.init({
            url: prefix + "/list",
            modalName: "Comment",
            columns: [
                {checkbox: true},
                {field: 'commentId',      title: 'ID', width: 60},
                {field: 'postId',         title: 'Post ID', width: 80},
                {field: 'memberNickname', title: 'Author'},
                {field: 'content',        title: 'Content'},
                {field: 'delFlag',        title: 'Status', align: 'center',
                    formatter: function(v) {
                        return v === '0'
                            ? '<span class="badge badge-success">Active</span>'
                            : '<span class="badge badge-default">Deleted</span>';
                    }},
                {field: 'createTime', title: 'Posted At'},
                {title: 'Action', align: 'center', formatter: function(v, row) {
                    if (row.delFlag === '0') {
                        return '<a class="btn btn-danger btn-xs" onclick="moderateComment(' + row.commentId + ')"><i class="fa fa-trash"></i> Delete</a>';
                    }
                    return '<span class="text-muted">Deleted</span>';
                }}
            ]
        });
    });

    function moderateComment(commentId) {
        $.modal.confirm('Delete this comment?', function() {
            $.ajax({
                url: prefix + '/moderate', type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({commentId: commentId}),
                success: function(r) {
                    if (r.code === 0) { $.table.refresh(); $.modal.msgSuccess('Deleted'); }
                    else { $.modal.alertWarning(r.msg); }
                }
            });
        });
    }
</script>
</body>
</html>
