<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="member-form">
                <div class="select-list">
                    <ul>
                        <li>Email：<input type="text" name="email"/></li>
                        <li>Nickname：<input type="text" name="nickName"/></li>
                        <li>
                            Status：
                            <select name="status">
                                <option value="">All</option>
                                <option value="0">Active</option>
                                <option value="1">Disabled</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script>
    var prefix = ctx + "mall/member";
    $(function() {
        $.table.init({
            url: prefix + "/list",
            modalName: "Member",
            columns: [
                {checkbox: true},
                {field: 'memberId',   title: 'Member ID'},
                {field: 'avatarUrl',  title: 'Avatar', formatter: function(v) {
                    return v ? '<img src="' + v + '" height="36" style="border-radius:50%">' : '<i class="fa fa-user-circle fa-2x text-muted"></i>';
                }},
                {field: 'nickName',   title: 'Nickname'},
                {field: 'email',      title: 'Email'},
                {field: 'phone',      title: 'Phone'},
                {field: 'status',     title: 'Status', align: 'center',
                    formatter: function(v) {
                        return v === '0'
                            ? '<span class="badge badge-primary">Active</span>'
                            : '<span class="badge badge-danger">Disabled</span>';
                    }
                },
                {field: 'createTime', title: 'Registered At', sortable: true}
            ]
        });
    });
</script>
</body>
</html>
