<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="points-form">
                <div class="select-list">
                    <ul>
                        <li>Member ID：<input type="text" name="memberId" placeholder="Exact search"/></li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "mall/points";

    $(function() {
        $.table.init({
            url: prefix + "/list",
            modalName: "Points Record",
            showSearch: true,
            formId: "points-form",
            columns: [
                {field: 'logId',        title: 'ID',     width: 80},
                {field: 'memberId',     title: 'Member ID', width: 100},
                {field: 'delta',        title: 'Points Change', width: 100, formatter: function(v) {
                    var color = v > 0 ? '#27ae60' : '#e74c3c';
                    var sign  = v > 0 ? '+' : '';
                    return '<b style="color:' + color + '">' + sign + v + '</b>';
                }},
                {field: 'balanceAfter', title: 'Balance After', width: 110},
                {field: 'source',       title: 'Source', width: 120, formatter: function(v) {
                    var map = {1:'Order Complete', 2:'Review Reward', 3:'Welcome Gift', 4:'Points Redeemed', 5:'Referral Reward'};
                    return map[v] || v;
                }},
                {field: 'sourceId',     title: 'Reference ID'},
                {field: 'remark',       title: 'Remark'},
                {field: 'createTime',   title: 'Time'}
            ]
        });
    });
</script>
</body>
</html>
