<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="flashsale-form">
                <div class="select-list">
                    <ul>
                        <li>活动名称：<input type="text" name="title"/></li>
                        <li>状态：
                            <select name="status">
                                <option value="">全部</option>
                                <option value="0">未开始</option>
                                <option value="1">进行中</option>
                                <option value="2">已结束</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="mall:flashsale:add">
                <i class="fa fa-plus"></i> 新增
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag   = [[${@permission.hasPermi('mall:flashsale:edit')}]];
    var removeFlag = [[${@permission.hasPermi('mall:flashsale:remove')}]];
    var prefix = ctx + "mall/flashsale";

    $(function() {
        $.table.init({
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            modalName: "限时优惠",
            columns: [
                {checkbox: true},
                {field: 'saleId',      title: 'ID'},
                {field: 'productName', title: '商品名称'},
                {field: 'title',       title: '活动名称'},
                {field: 'flashPrice',  title: '活动价(PHP)'},
                {field: 'stockLimit',  title: '限量'},
                {field: 'soldCount',   title: '已售'},
                {field: 'perLimit',    title: '每人限购'},
                {field: 'startTime',   title: '开始时间'},
                {field: 'endTime',     title: '结束时间'},
                {field: 'status', title: '状态', align: 'center',
                    formatter: function(v) {
                        var map = {'0': '<span class="badge badge-default">未开始</span>',
                                   '1': '<span class="badge badge-primary">进行中</span>',
                                   '2': '<span class="badge badge-danger">已结束</span>'};
                        return map[v] || v;
                    }
                },
                {title: '操作', align: 'center', formatter: function(v, row) {
                    var a = [];
                    if (row.status !== '2') {
                        a.push('<a class="btn btn-success btn-xs ' + editFlag + '" onclick="$.operate.edit(\'' + row.saleId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        a.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" onclick="$.operate.remove(\'' + row.saleId + '\')"><i class="fa fa-remove"></i>结束</a>');
                    }
                    return a.join('');
                }}
            ]
        });
    });
</script>
</body>
</html>
